.container{
    max-width: 96rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.title{
    font-size: 2rem;
    color: #fff;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.description1 p{
    margin: 40px 0 40px 0;
    font-size: 1.9rem;
    line-height: 2rem;
    color: #f3f3f3;
    text-align: justify;
}

.description p{
    font-size: 1.8rem;
    line-height: 2rem;
    color: #f3f3f3;
    text-align: justify;
    font-weight: 500;
}