.container{
    max-width: 96rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.input-box{
    margin-top: 1rem;
}

.input-box input{
    height: 40px;
    width: 100%;
    font-size: 3rem;
    padding-left: 5px;
    margin-top: 0.5rem;
}

.title{
    font-size: 2rem;
    letter-spacing: 1.2px;
    color: #f3f3f3;
    text-align: center;
    margin-bottom: 40px;
}

.Enterdata{
    font-size: 1.6rem;
    font-weight: 600;
    color: #f3f3f3;
    letter-spacing: 3px;
}

button{
    height: 38px;
    width: 100px;
    margin-top: 12px;
    font-weight: bold;
    border: none;
    color: #363636;
    background: rgb(0, 200, 20);
    box-shadow: 1px 1px 20px rgba(0, 0 ,0, .5);
    transition: all ease-in .2s;
}

button:active{
    box-shadow: none;
}

.output-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}