.navbar{
    width: 100%;
    background: #f5f5f5;
    padding: 20px 10px;
    box-sizing: border-box;
}

.navbar ul{
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
}

.title{
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.6rem;
}

.navbar a{
    color: #333;
    text-decoration: none;
    padding: 0 10px 0 10px; 
    font-size: 1.8rem;
    font-weight: 600;
}

.navbar a:hover{
    background: rgb(0, 200, 20);
    border-radius: 5px;
    transition: all ease-in .2s;
}

@media (max-width: 450px){
    .title{
      font-size: 1.2rem;
    }
    .input-box input{
      height: 70px;
    }
    .navbar ul{
        font-size: 1rem;
    }
    .navbar a{
        font-size: 1.2rem;
        font-weight: 600;
    }
}